<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
         <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul class="navlist">
                <a href="/about" class="navitem">About</a>
                <a href="/" class="navitem">Home</a>
            </ul>
        </nav>
        <div class="searchouter">
            <h1 class="logo">PageHawk.io</h1>
            <p class="tagline">Webpage content analytics</p>
            <div class="about">
                <p>Pagehawk.io is designed to provide quick webpage analytics like; word count, sentence count, flesch readabilty score, read time, response time, keyword density, summary, headings, outbound links.</p>
                <p>All the user needs to do is provide a valid url and analyses is done.</p> 
                <p>This is meant to be a portfolio project, and show use of full stack web development.</p> 
                <p>Creator Github: <a href="https://github.com/hussankhan">https://github.com/hussankhan</a></p>
                <p>Upwork: <a href="https://www.upwork.com/o/profiles/users/_~019521cccb2780eb21/">Freelance Work</a></p>
            </div>
        </div>
    </body>
    <script type='text/javascript' src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>